# Quetion - 1

In [43]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [44]:
driver = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [45]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [46]:
driver.get(url)

In [47]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [48]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="8922990d-4eb5-4afc-aa8d-6dbefdd5a93b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="64b63759-b0e6-4b53-a884-6e5ea5002ef3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d64d29c6-5ad8-4404-81bc-47d94087abdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="29e02eea-5b90-4b47-9bbb-8d781869323d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c850c86b-49b1-4687-a251-4964cf7bc9db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f79b1790-5f5e-44a3-9f4a-130f5e5b4280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="27d44899-feff-4b97-aa84-a3afd22f3cd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4c17c0be-2a4d-47be-94ee-e787f12bf7ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="21d1f1cc-0109-48b3-89f5-16dd4d83c2f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="1af5f760-cc59-4c76-83b4-84a41ca7d803")>]

In [49]:
for i in title:
   
    Title=i.text
    job_title.append(Title)
job_title

['Immediate openings For MIS executive /Data analyst For Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Procurement Data Analyst ( 0.6 To 3 Yrs, Bangalore)',
 'Data Analyst',
 'Data Analyst',
 'Business Analyst / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Business Data Analyst - Database Design/Mining',
 'Data Scientist/Data Analyst-immediate',
 'Data Analyst - MySQL/PostgreSQL',
 'Data Analyst (Telcom domain)',
 'ID & A - Data Analyst - Informatica MDM',
 'SENIOR DATA ANALYST',
 'Data Analyst',
 'Data Analyst - Consumer Analytics',
 'Data Analyst - Consumer Analytics',
 'Sr Data Analyst - Contractual Role | Nike']

In [50]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="39d7f387-3657-4da3-a017-a971b43cd51d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="7450896c-3528-47db-991a-0267099d5910")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b52d4067-fd9d-4d62-8ebf-eecce17e1364")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a76adc36-a7c6-42a6-ba9f-c5011848c94c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="9e92f542-25ba-41c3-9e4f-93b02fead13f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="1772f023-f57b-46bd-864c-7e0faaa2cb45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="22d05bac-b092-4f6d-a552-6338dbac7527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5d6e5c55-aa38-4eb8-b640-fc489fe57f95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="8df4bf38-5796-4b59-801d-cb4414b04fad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c3a89ce0-81ba-4c40-941d-7b1a84b33506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c608f2d6-00d5-4ece-b2ac-6eaf46ec08b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="9525d4dd-e207-44ba-8912-6572adedc700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="01ca9f10-e06d-45c4-b03f-0ccf31eaff52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="154b682e-10e4-48e0-8252-8e443a6c5b95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="31b442d8-9da2-40cf-b73c-9560c8fa2ac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b01c6ebd-e148-4775-b832-578a71e30885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="488c2a7a-d88c-4712-a3a1-290add40c908")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="659bb377-c374-470a-9b21-e4759d5dbdcd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0c6e8c58-9e0d-4135-81a7-458107e23d7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5d6ebb0e-7794-4315-83a2-0d2edd5e5366")>]

In [51]:
for i in location:
   
    Location=i.text
    job_location.append(Location)
job_location

['Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(Koramangala)',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [52]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="99dad47e-6dc4-4c49-978c-f268ce766e65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="474c29e0-236a-4f14-a945-c75d336a8659")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="9b176278-cce4-4a5b-95cc-0a9870e175b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5ebe5e53-8682-4d09-a643-ca0622a0315b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5228271b-4fbb-43e7-b8be-0441db0b2606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="af4922dc-608d-4483-a8c9-f84c4bec6c32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="6c5b27e0-7975-4c2b-8a22-7175b10ec91b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5e063ff4-102d-41a9-8eb9-dec27293d596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="fe93f38b-3457-47a7-a6e5-28affebf398c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="6b7d3c78-cea3-4808-bff7-b1bedb13098d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="bccd7ea2-5c1b-47f6-81fc-8219fc0e8d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="6fc046dd-02b2-4840-b658-f4d5b971b0ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d714532f-bdf8-441e-9113-414e0fd6b814")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d710524b-1507-4eb0-ae18-54cd07933c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5d278899-3e98-4b5c-9070-e8421df8e0e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="07e63650-8841-4928-87be-f53b4400ac59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="28bc832a-8b48-4fbf-a4d8-499a2927ce5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="2a939085-fc8e-4143-9a9f-bc7bebc374fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="75987d43-fd60-4587-8adf-efa4ec424493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="2963fa51-5872-4fd0-a2ed-de53ef2938c2")>]

In [53]:
for i in company:
   
    Company=i.text
    company_name.append(Company)
company_name

['RANDSTAD INDIA PVT LTD',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'St. John’s Research Institute',
 'Siemens Limited',
 'Sunstream Global Technologies LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Schneider Electric India Pvt. Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'AugmatrixGo',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Astegic',
 'Oracle India Pvt. Ltd.',
 'Shell India Markets Private Limited',
 'McAfee Software (India) Pvt. Ltd',
 'Nuance Communications',
 'Eli Lilly Services India Private Limited',
 'Eli Lilly Services India Private Limited',
 'ANSR GLOBAL CORPORATION PRIVATE LIMITED']

In [54]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="3bf4be06-8cee-4753-9b3e-29849986f465")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="7f82432d-bb6b-4651-831c-1dad9c2ad64a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="edac6248-c450-464a-8e43-99271c1c22de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4cc110a2-1ee5-4c6c-874f-387dc279b8d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="8f79564c-c95c-4026-a798-cfe74364c351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="780ac8ac-93e1-4455-8c7d-9e81cbb34165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b4f2b5fc-4174-460e-976f-7ccd301f47f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="04a6dd2c-b501-4a55-8f71-ce41b1ebbb63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="bef48829-3461-4584-8249-ece43f95d188")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4d9b0ca4-2616-4213-a1db-91c931a82b4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0934a60e-edf1-43cb-9780-d43a82c55b43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="58747214-4d17-48c6-8ebc-48095f9454e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="3301d18e-9f69-4a9e-86aa-790ef6391f4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="899de8d2-26ef-4062-8961-8d6a25254253")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b53015c2-b131-4a3b-97e5-f97f6e352127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="ee2f596e-4d2e-4403-a2a9-bed496c9ea5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="16c8ceab-4160-4008-a3c2-5fc317801a8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5a0b7d6d-418e-42bd-8d13-def50c6efd08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b0751a73-582f-4138-8636-2f92113c3067")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d6083e38-a5ac-45d8-8f45-def4e2d3a84b")>]

In [55]:
for i in experience:
   
    Experience=i.text
    experience_required.append(Experience)
experience_required

['3-8 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '0-4 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '6-9 Yrs',
 '7-12 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '5-8 Yrs']

In [56]:
Naukri_Job=pd.DataFrame([])
Naukri_Job['Job Title']=job_title[0:10]
Naukri_Job['Location']=job_location[0:10]
Naukri_Job['Company']=company_name[0:10]
Naukri_Job['Experience']=experience_required[0:10]
Naukri_Job

,Job Title,Location,Company,Experience
0,Immediate openings For MIS executive /Data ana...,Bengaluru,RANDSTAD INDIA PVT LTD,3-8 Yrs
1,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
2,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
3,Data Analyst,Bengaluru,St. John’s Research Institute,0-4 Yrs
4,Data Analyst,Bengaluru,Siemens Limited,0-3 Yrs
5,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Bengaluru(Koramangala),Sunstream Global Technologies LLP,0-3 Yrs
6,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
7,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs
8,Business Analyst / Data Analyst,Bengaluru,Schneider Electric India Pvt. Ltd.,2-5 Yrs
9,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs

# Quetion - 2

In [57]:
url_1="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [58]:
driver.get(url_1)

In [59]:
Job_Title=[]
Job_Location=[]
Company_Name=[]
Job_Description=[]

In [60]:
t=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
t[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="6a2468fa-999a-4150-9219-8459a107916e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d0f91df2-952a-4609-b214-36245d58bd80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="34fae160-7532-42d0-aa6b-732ad6d8df92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="bad7609e-1bba-43ec-b219-15d94ded2c16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="ce94f667-cf16-46d1-b001-c605fa9ca59f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b0d7f72a-a6c8-463b-a558-4056a54104c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="83febe93-ae0e-4efc-ba3c-28e9ba10fe40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="43ccdbf4-2c14-4024-9e7f-0bddc7ca35f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="88e92338-9f20-4027-85f5-2665f798f023")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0f090355-3bda-41b4-b810-77ec46398a2f")>]

In [61]:
for i in t:
   
    T=i.text
    Job_Title.append(T)
Job_Title

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist -Machine Learning',
 'Data Scientist - Machine Learning',
 'Software Developer - Data Scientist / NLP / Machine Learning',
 'Principal Data Scientist - Machine/Deep Learning - NLP/Tensorflow',
 'Data Scientist - Machine Learning - Remote Working',
 'Data Scientist',
 'Lead Data Scientist - Complete Remote Work',
 'Data Scientist',
 'Data Scientist (Healthcare/Pharma Domain preferred)',
 'Data Scientist',
 'Data Scientist',
 'Tech Mahindra hiring For Data Scientist- Bangalore',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Lead Data Scientist - Bangalore /Banking & Financial Domain is must',
 'Data Scientist (machine Learning /AI)',
 'Senior / Lead Data Scientist']

In [62]:
l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
l

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="313d7433-464b-4e94-a5ad-4952909f9024")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="49da7000-2cb9-4987-a894-6c272d981573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d5e2f5ae-dcff-415f-86de-08d70f17803f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4ad401ab-1343-4825-b54e-5002b05e3bb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a10080b2-68f3-4ca2-a7c1-bb4d7f3cc748")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="bd837c5a-dc62-49a9-8e6b-09b75434c71b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a083b495-8174-48ce-bf4c-43a0de76b980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="effac267-671b-44ad-bb23-a61712630d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="e660fb82-149f-49e0-995a-bd82a9c2e553")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c19f318d-6cdc-460f-aefc-5749acb6d9c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b442519d-74df-42a4-9859-ecf6c18d8f91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f33a592f-04fc-4949-9eed-760588a98338")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f946196e-f5b1-4941-a521-d81edce99e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="9207c0c9-43d9-4524-9b05-a2f9cd32e426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="aca08587-bbbb-428e-9b04-da798691a08d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="769ab844-04f2-40be-9e68-b190441082c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c72f3cef-d857-4895-be29-f2aad61c7730")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="58c149ab-6041-4420-ad3a-cfc66927a137")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f80c0fdc-0573-412b-9897-fd2ecaa80f2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="576315a3-c063-457d-963a-c6181bd702df")>]

In [63]:
for i in l:
   
    L=i.text
    Job_Location.append(L)
Job_Location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Chennai, Bhubaneshwar, Pune, Delhi NCR, Mumbai, Bengaluru, Greater Noida, Hyderabad, Kolkata',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru',
 'Chennai, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Delhi NCR, Mumbai, Bengaluru',
 'Chennai, Pune, Bengaluru']

In [64]:
c=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="dc7eb714-a730-4a81-a6ba-d20afc0037aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c4005460-31a3-44c7-a03d-c465d0eaf3c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="2e4f2cf5-90ca-4ea6-bd08-54f1b6c11f57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f593e3fd-3270-4ccc-80ec-e982ec98342f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="12428e3e-f09c-4535-b2ab-dc1a31cff7b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a9036c1f-242e-4dd7-a07a-a390e4838380")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f88b94f6-7b7f-476d-a6df-a0623eaff0c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="00a79c47-26b0-451e-9574-ea5c597a4382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5670b158-5e44-4cd8-b576-17b55cf09caa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="fc79fd29-ac90-4414-ba5e-28e55c6ef2a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d6811397-f9d1-4437-ad63-5f79e6126fa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="dc1fa9f4-03ff-4178-97ba-86a9ea542f8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="58ec3168-ccab-4e76-adb9-4ff034f490bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="92fa4fa7-b181-43ba-a349-b596b93beee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0a9ab76e-5dea-46f7-9dac-a7fa364b32b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a4c2749b-5667-414f-a4c9-de6556af4772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5fcab401-a39f-49e8-8f43-cd66baa6cd96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="aefe9bfe-c678-4073-9491-6ecdb37dad74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4daa9882-dd70-4014-b69f-a95e027f451b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="33627bea-76c7-421b-91b0-4fe22206e1ba")>]

In [65]:
for i in c:
   
    C=i.text
    Company_Name.append(C)
Company_Name

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'AugmatrixGo',
 'Cunesoft India Private Limited',
 'Fidius advisory',
 'Doji Ltd',
 'Mailkit Private Limited',
 'Techolution India Private Limited',
 'IBM India Pvt. Limited',
 'GENPACT India Private Limited',
 '24/7 Customer',
 'Capgemini Technology Services India Limited',
 'tech mahindra ltd',
 'UpGrad',
 'Leading Data Science Firm',
 'Applied Materials',
 'Societe Generale',
 'Mastermind Network',
 'TVS CREDIT SERVICES LIMITED']

In [66]:
Naukri_DS_Job=pd.DataFrame([])
Naukri_DS_Job['Job Title']=Job_Title[0:10]
Naukri_DS_Job['Location']=Job_Location[0:10]
Naukri_DS_Job['Company']=Company_Name[0:10]
Naukri_DS_Job

,Job Title,Location,Company
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited
2,Data Scientist -Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED
3,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo
4,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited
5,Principal Data Scientist - Machine/Deep Learni...,Bengaluru,Fidius advisory
6,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd
7,Data Scientist,"Chennai, Bhubaneshwar, Pune, Delhi NCR, Mumbai...",Mailkit Private Limited
8,Lead Data Scientist - Complete Remote Work,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Techolution India Private Limited
9,Data Scientist,Bengaluru,IBM India Pvt. Limited

In [25]:
url_1_1="https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=1611512719408906&xp=1&px=1"
driver.get(url_1_1)
D1=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
D1

In [26]:
url_1_2="https://www.naukri.com/job-listings-hcl-hiring-data-scientist-with-exp-in-machine-learning-sql-bangalore-hcl-technologies-limited-bengaluru-bangalore-5-to-10-years-190121001223?src=jobsearchDesk&sid=16115138719277513&xp=2&px=1"
driver.get(url_1_2)
D2=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
D2

In [27]:
url_1_3="https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bengaluru-bangalore-2-to-5-years-140121905423?src=jobsearchDesk&sid=16115138719277513&xp=3&px=1"
driver.get(url_1_3)
D3=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
D3

In [28]:
url_1_4="https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-5-to-8-years-130121902169?src=jobsearchDesk&sid=16115138719277513&xp=4&px=1"
driver.get(url_1_4)
D4=driver.find_elements_by_xpath("//div[@class='nConfig_textblock ']")
D4

In [29]:
url_1_5="https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-3-to-5-years-130121902167?src=jobsearchDesk&sid=16115138719277513&xp=5&px=1"
driver.get(url_1_5)
D5=driver.find_elements_by_xpath("//div[@class='nConfig_textblock ']")
D5

In [30]:
url_1_6="https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bengaluru-bangalore-8-to-12-years-110121501358?src=jobsearchDesk&sid=16115138719277513&xp=6&px=1"
driver.get(url_1_6)
D6=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
D6

In [31]:
url_1_7="https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-cunesoft-india-private-limited-bengaluru-bangalore-3-to-6-years-190121001281?src=jobsearchDesk&sid=16115138719277513&xp=7&px=1"
driver.get(url_1_7)
D7=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
D7

[]

In [32]:
url_1_8="https://www.naukri.com/job-listings-data-scientist-machine-learning-remote-working-doji-ltd-delhi-ncr-bengaluru-bangalore-anywhere-in-india-2-to-5-years-171220006270?src=jobsearchDesk&sid=16115138719277513&xp=8&px=1"
driver.get(url_1_8)
D8=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
D8

In [33]:
url_1_9="https://www.naukri.com/job-listings-data-scientist-genpact-india-private-limited-bengaluru-bangalore-5-to-10-years-120121008663?src=jobsearchDesk&sid=16115138719277513&xp=9&px=1"
driver.get(url_1_9)
D9=driver.find_elements_by_xpath("//div[@class='f14 lh18 alignJ disc-li']")
D9

[<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="eb1ceca9-35a9-4c47-98da-8ce30a20b83a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="ceb60500-ae69-4369-ab98-7ac83ee32d9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="7df4c859-5a05-47f6-8e4a-917bc02ab874")>]

In [34]:
url_1_0="https://www.naukri.com/job-listings-data-scientist-healthcare-pharma-domain-preferred-genpact-india-private-limited-bengaluru-bangalore-6-to-10-years-070121010487?src=jobsearchDesk&sid=16115138719277513&xp=10&px=1"
driver.get(url_1_0)
D10=driver.find_elements_by_xpath("//div[@class='f14 lh18 alignJ disc-li']")
D10

[<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="c66166b4-794d-4345-9daa-04b40af82b74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="749c48d5-23ac-4c2f-82d1-213278db6579")>]

In [35]:
Description=[D1,D2,D3,D4,D5,D6,D7,D8,D9,D10]

In [36]:
Description

[[<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="b711fc90-3f64-4882-b7ae-06cb29db3b45")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="eb5633be-33da-4e6f-810b-62645a95046d")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="aea7601f-9c41-4876-8fc8-a758432278e4")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="a7de28fd-df3a-481f-9d00-e628b8278aaf")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="24a5a1e7-f109-4aa7-bffa-575ea4271673")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="f0ec51d3-3e0c-46be-9288-d6f7378e681e")>],
 [],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="bc807098-98d9-4c63-8040-f1bde969e672")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="eb1ceca9-35a9-4c47-98da-8ce30a20b83a")>,
  <selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="ceb60500-ae69-4369-ab98-7ac83ee32d9c")>,
  <selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="7df4c859-5a05-47f6-8e4a-917bc02ab874")>],
 [<selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="c66166b4-794d-4345-9daa-04b40af82b74")>,
  <selenium.webdriver.remote.webelement.WebElement (session="61fd27c1165e1dc3d295719f3785172e", element="749c48d5-23ac-4c2f-82d1-213278db6579")>]]

In [70]:
for i in Description:
   
    #D=i.text
    Job_Description.append(i.text().replace("\n",""))
Job_Description

AttributeError: 'list' object has no attribute 'text'

In [ ]:
Naukri_DS_Job_D=pd.DataFrame([])
Naukri_DS_Job_D['Job Title']=Job_Title[0:10]
Naukri_DS_Job_D['Company']=Company_Name[0:10]
Naukri_DS_Job_D['Full Description']=Job_Description[0:10]
Naukri_DS_Job_D

# Quetion - 3

In [ ]:
driver= webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [71]:
url_2="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&cityType=25.9.31&ctcFilter=3to6"

In [72]:
driver.get(url_2)

In [73]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

In [74]:
titl=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titl[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="94532259-41f5-4341-a01f-921b36d69690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="adda7ca8-e58c-49c9-92f3-8124aaee977d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="dca02d6f-bb49-411e-ab44-6dfaa573f0dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="643eab6a-bc6a-4ed4-ba84-cc7e9f35d18b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c2c01f99-5864-4912-9bcc-bfcab85655f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a7ca8cc2-52c6-4ea6-9e43-134b21cab76d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="ecce58b6-13ac-4555-918a-e487589ff56d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="08e6e422-8bc5-4b28-9008-dd9ba0a904ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="68751af0-40af-4312-9249-06df9e5cbf4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="30345f54-bbbb-4f77-8791-195e5d59db6f")>]

In [75]:
for i in titl:
   
    T=i.text
    Job_title.append(T)
Job_title=Job_title[0:10]
Job_title

['Data Scientist - Python/Machine Learning',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist - Tableau/Power BI',
 'Data Scientist - Machine Learning/ Artificial Intelligence - IT',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist - IT',
 'Data Scientist']

In [76]:
loca=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
loca

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="e3ccab4a-8743-4312-9fac-1093d7a1b38c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="aa883850-1a81-4308-9946-e6e601c0004e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="90e3b746-aee7-4300-b3a8-aed8b789adc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="79a28ec6-3708-465d-bd96-cd60f69c6840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b26ec19e-bc32-4e39-a009-13b637d624d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4f40e922-a0ff-4ada-bf6c-66ea236600fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="a08bb807-2bf0-49cb-87a6-326a0a41d249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="b930b4bd-dfe2-4177-a28d-569ffa7776bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="9ab20a1f-7c70-472b-b492-b812fd3d1d33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="6c392951-2ddb-4813-b4b7-206de780b10a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="42abed7b-2ed4-4990-8ba5-3f6bd1898534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="cf98a385-8933-4375-b415-743666669bb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c5e2d7f1-fb4a-4577-bad8-ef5821732e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="be83d16b-ed28-4886-99a2-cd1cef8e126f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="6205ab5b-d581-4ddf-ab44-53f99c9bcb80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="644f2738-90f2-46dd-a72a-07df9734fb1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="3b2ca06a-6054-42ce-9efb-910c97038acb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d925d69a-ad52-4c14-a9a4-7c2a5033c3db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="71e86dd6-da6f-491b-a69e-63584a5e5e63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="eb13652d-0a9e-415d-97e2-ca2dd472b51e")>]

In [77]:
for i in loca:
   
    L=i.text
    Job_location.append(L)
Job_location=Job_location[0:10]

In [78]:
com=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d9aa1467-8983-4267-8b92-c8ec85c538b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="95098f3a-bdc0-4f6a-9a60-3df84958e39a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="daa4f768-3dcc-45b1-a05f-111645b0b256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="458e97c0-052a-45c3-bfe8-093652188b02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d8fda6ce-433b-44cd-95e3-e226ec4d89e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="faab02d2-0760-4d2d-809a-c3747dadb7ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="edd8a5d8-b81c-4147-bef4-8e668872125d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="e972e094-71ad-4fae-b033-60073378f6be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0b9edea8-0d09-41a5-b403-a922e69edb5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d937f106-9c4a-4785-bd9e-ae294eab822b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f2a24f5d-8927-4d4f-9c9d-850e79e2db8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="52fbd23d-0c36-4658-98d7-e247857045c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="3ea05f11-87cd-4727-aa3c-90e535f0cf2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f9dbdd68-fda5-4847-b32a-55a7131711f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="7d64b6e4-93e5-4105-84c5-0db4e11913dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="d59452eb-85d7-41f4-ab1d-0a183b8abe24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f21f148c-124b-41f1-993a-016287b73912")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="280948fd-72e3-4bda-acd8-868547017aa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="8d7ba341-d930-474c-9126-a8720729f755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="cd01344d-608a-441a-a5cb-fda2ab955857")>]

In [79]:
for i in com:
   
    C=i.text
    Company_name.append(C)
Company_name=Company_name[0:10]

In [80]:
expe=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
expe

[<selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="105d91fc-d3ab-4a95-b388-43a4bf3258a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="aa17fdf3-a289-4d7c-9826-ac1ad1ec63e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="9453e21c-6f79-4d0f-87d4-b43df60365ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="de5fd063-8f99-43d2-afbc-e5fc1acd157d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="2b600f6d-1fce-4826-b492-58d236c001bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="bdb5b0a8-7662-44db-a879-23a787cb592b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="550c1331-c018-46f1-8810-3d97e8613407")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c617587d-e384-428c-afef-222b1fc49e0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="87bd2360-4dcc-43f5-8515-bb508a0fe1b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="c1e8c8fc-0630-4758-887b-7d267974b5f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="94484321-de72-428b-83b0-6c8984fa36e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="ab16a062-958a-4753-a5c1-b2da941576d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="844175b8-6ced-4357-bd94-f8699c41e7f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="01369009-3f71-4b80-bf6c-d6fa0928316d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0c267962-9e75-401f-a16a-9e9e5b483f53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="0007e706-9081-4bbb-8f4c-4abd9968cdbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="71932835-b6f7-4d53-81ad-fa2e57a1ded5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="4385bf14-b18f-4a7d-b36c-07f97833e764")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="f01b5c58-815d-453b-b483-a740fc5d3202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="10635dd17a69234a716d46aaca198d51", element="5922d9d6-baca-4f94-8dcf-63c23d17ee25")>]

In [81]:
for i in expe:
   
    E=i.text
    Experience_required.append(E)
Experience_required=Experience_required[0:10]

In [82]:
Naukri_Job=pd.DataFrame([])
Naukri_Job['Job Title']=Job_title[0:10]
Naukri_Job['Location']=Job_location[0:10]
Naukri_Job['Company']=Company_name[0:10]
Naukri_Job['Experience']=Experience_required[0:10]
Naukri_Job

,Job Title,Location,Company,Experience
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist,"Faridabad, Delhi NCR, Ghaziabad",Amity University,6-8 Yrs
4,Data Scientist - Machine Learning/ NLP,Gurgaon Gurugram,TalPro,2-6 Yrs
5,Data Scientist - Tableau/Power BI,Delhi,Talent Stock Solutions,1-3 Yrs
6,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
8,Data Scientist - IT,Gurgaon,Ehireo,4-9 Yrs
9,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs

# Quetion 4

In [83]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [84]:
url_3="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [85]:
driver1.get(url_3)

In [86]:
Posting_Date=[]
Company_Rating=[]
Company_Name=[]

In [96]:
TITLE=driver1.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
TITLE[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="7c041bc0-0bd4-4e6c-a4fb-505effad042c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="6f205e36-e39c-4699-adc7-e96db5072848")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="a6281326-a401-4f87-95b8-9a32f295d3ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="b19e75cc-eccb-4125-9668-b31589946bab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="ec5fc0c9-c4ba-46d1-aa00-08b46c3b09cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="b32e27c1-ea85-454f-956d-86a0cdb264a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="0d014f1b-81a2-48f1-aed7-ebb3ac59a5ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="ea78f477-7867-4d23-87da-595badd588c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="efc48791-ef6f-4158-a2b9-9f8661eebd2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="419561c7-670f-40d4-8961-56c26e4bbd9f")>]

In [97]:
for i in TITLE:
   
    Company_Name.append(i.text)
Company_Name=Company_Name[0:10]
Company_Name

['Data Scientist, Analytics',
 'RAU-Data Scientist',
 'Applied Data Scientist',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [94]:
rate=driver1.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rate

[<selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="603f01f3-f8a5-42e0-b5ec-ad6252f1e562")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="11463609-a1e5-4d51-8703-6ac0a82d7f43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="64725e80-28c7-4cd0-ada4-26411ba4554c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="a7193d1a-f36d-4ed7-a075-196991351688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="9a0edd44-b455-402d-a136-3ce7bd0fd56c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="00b67fa8-30f6-4e43-af68-07a9461b2b21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="2a2e685b-abde-4c46-9cdb-127bd03aff33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="39802d70-fc14-45de-a4d7-320d4d1574ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="5aa3ea7c-786b-46a2-893a-e0bf7c10eb92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="e13305f9-8e74-4847-9246-021857a626f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="f4fccfdc-9017-493a-8d29-585e0a4be083")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="dcce86f9-59e8-4a5a-be66-2994e55d244c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="84776cce-dc41-4a57-a580-7f1d8db3ba2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="370891ab-1bda-4f37-926d-edcee306c70e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="3e4c8a9a-1a3d-4789-81d6-385b5c722886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="02eef782-4d4e-48fc-973a-99f0f92546c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="a48e2f50-3fb7-44e2-a6bc-336498ca6920")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="a2ed6729-254f-4fee-88d3-9f041e09c95d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="3d372c06-82bc-4e31-b556-83acac27ed1c")>]

In [95]:
for i in rate:
   
    Company_Rating.append(i.text)
Company_Rating=Company_Rating[0:10]
Company_Rating

['3.7', '4.2', '', '', '', '', '', '', '', '']

In [91]:
post=driver1.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
post

[<selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="79d24ba2-43c8-4e6f-9ac7-5e48de280e6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="039abced-a562-4e02-a5f7-b88b4800bafb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="552db915-c181-4511-983a-e9df1bd7e40f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="40c22240-49ed-4b96-9ddf-33d8ba5ff05e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="189acb4e-efe6-4523-b710-d9a2d80a1953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="0cbd957d-3e64-46c0-93b4-b187d02a62ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="d7e4a39e-c45b-4e83-9910-8fa2607c8e09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="3bd12adb-fa55-498a-a067-86d7b44150a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="8c1da6f8-7bf5-48a7-8a3f-44e987077e82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="d2e51bce-52b2-4cf0-8f01-29d9d246a48b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="2a9ee0e5-3afe-4f6b-86df-89de98f3ad5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="bfa4ab44-350d-4ad3-8d84-c2ab2be1568f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="027426c5-71ba-4017-b875-71e8c1229838")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="cf1e6a5a-c964-49e0-9345-2db6e77f0a34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="5a2bf8a0-7c7d-4d85-9a8a-42c64d2c3cae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="d030efdd-6fd0-48f7-985a-0e3937a1dbd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="ef04f23e-fdb7-477c-8f5c-442b647a8238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="6a16bc76-4a02-41e1-aa9f-76d91fc83d69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="2eb893e6-2229-4bf2-8627-132b551837d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="0ac1de00-a457-4f9f-a3b6-ae047490326a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="ddcc9f1d-fd02-40fc-a0ea-3d39de3b2435")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="27adca21-f6f1-43c8-bb14-d24c74c1d2c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="1b4553f5-6733-46e4-a3b5-14a8ba7d11e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="20b05688-6a02-40cc-a27a-35dec9fd42d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="aa00b149-86f8-440f-9450-cf766a7371b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="3e953fae-4ba6-4213-9bd7-d05762c87b5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="dd11ec01-4b11-4b05-8045-8f8ee814e29b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="41fce57b-0a0f-4bfc-8e33-f13bae417ab0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="cd362f91-0202-47c7-ad81-6135ec631054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f9054a4bd2f3e74b81f56177737801a3", element="f8de9432-2a01-4258-8aac-77b7a8454afb")>]

In [92]:
for i in post:
   
    C=i.text
    Posting_Date.append(C)
Posting_Date=Posting_Date[0:10]
Posting_Date

['1d', '4d', '1d', '17d', '30d+', '24h', '30d+', '30d+', '1d', '30d+']

In [98]:
Glassdoor_Job=pd.DataFrame([])
Glassdoor_Job['Job Title']=Company_Name[0:10]
Glassdoor_Job['Location']=Posting_Date[0:10]
Glassdoor_Job['Rating']=Company_Rating[0:10]
Glassdoor_Job

                   Job Title Location Rating
0  Data Scientist, Analytics       1d    3.7
1         RAU-Data Scientist       4d    4.2
2     Applied Data Scientist       1d
3                                 17d
4                                30d+
5                                 24h
6                                30d+
7                                30d+
8                                  1d
9                                30d+

# Quetion - 5

In [99]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [100]:
url_4="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [101]:
driver1.get(url_4)

In [102]:
minimax=[]
m=[]
Avg_Salary=[]
CompanyRating=[]
CompanyName=[]
NumberOfSalary=[]

In [103]:
Asal=driver1.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
Asal[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="e71fad9a-c875-4718-8f64-26d4587029f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="c12592d7-a243-4b3a-8793-598fba2414c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="5fe1f695-fbb0-4d91-ba3a-4daf0f4731ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="a8b4188d-78c3-4b70-a209-cf59d4d045ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="c89f9914-de74-43de-83a9-cb6a616fec59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="acd53612-577d-405d-8568-21161a280b01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="f163fa4a-2655-4f94-911a-67bb79a323dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="a85a7f17-f25c-49a9-8a56-21d69aa74efc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="8f95165a-9eeb-41c8-825c-7f5fab007f20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="66be1090-936d-4f67-a5e7-82dd32060e0c")>]

In [104]:
for i in Asal:
   
    Avg_Salary.append(str(i.text).replace("\n",""))
Avg_Salary=Avg_Salary[0:10]
Avg_Salary

['₹ 12,81,419/yr',
 '₹ 7,52,052/yr',
 '₹ 9,98,925/yr',
 '₹ 6,02,000/yr',
 '₹ 7,71,657/yr',
 '₹ 13,55,346/yr',
 '₹ 7,91,015/yr',
 '₹ 12,15,138/yr',
 '₹ 10,21,889/yr',
 '₹ 10,00,000/yr']

In [105]:
Nsal=driver1.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
Nsal

[<selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="d9957433-70b2-42d0-a204-e5de77b91d0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="1816810b-536f-4a8b-aa38-e465c148a7d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="d904efe8-81d6-411a-b7b8-9bc7c2a9df76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="873fd73c-1f56-4cb9-8d6f-f198a238fa08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="0e2aff07-e382-4e9d-bcb8-cee2d379543f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="8b26432d-3a95-490c-81d4-4f6e72b61a23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="db6277a9-d637-4a0a-8d98-41250289b263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="3735a1d1-a561-47a1-9869-124e7c17cb07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="c0e649d6-91a7-40fe-9824-6e6d07c359c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="58feaac7-32b8-4571-9822-5b5c2e1c4de1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="44d13007-501e-4e42-b245-0edd1b85b727")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="da5db910-30d0-4ca4-9cd5-b6added468f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="8be2830a-da70-47ac-849a-c4c5255c8d56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="c8bb1165-cb58-4548-9f08-9f59903b9997")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="2e2e0f75-f04a-4a65-887e-909b640d2126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="256581c1-f2b7-4e7d-bd81-a6d5da7139a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="261c136d-7249-405f-8ea5-8dd6b3715009")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="a6c3d386-bf3a-449a-ad1c-ed95a973f459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="135fe2c2-51d1-461e-948a-d1a4f6da3c29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="a0569f56-d1f0-48c8-a527-000d2aff1adc")>]

In [106]:
for i in Nsal:
   
    NumberOfSalary.append(i.text)
    
NumberOfSalary=NumberOfSalary[0:10]
NumberOfSalary

['13 salaries',
 '11 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '5 salaries']

In [107]:
cname=driver1.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
cname

[<selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="1413e9bd-b2f9-4e65-9629-23eaf1273fec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="c07dbd06-0111-422e-831d-ee3084896a4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="f6149ccb-b41b-4dfa-a923-b6b07aa4e70b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="366b13e4-186a-46aa-9b70-3831a5b8c072")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="71a60ff7-55ed-4ab5-b07d-cf5fc12f028b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="dc63c3c6-8ecd-47a8-b38a-a2f8518e8eea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="add3d3b3-6ae3-40f8-8dc7-d9ff4ca9a2a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="2c09710e-9986-471e-a136-c2c7760bbcba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="68ef55ee-c407-47de-8beb-51f1ff6c5e9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="ece8008e-2cb2-43ac-9438-b8542eb33b2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="1f1ddd91-79b0-4e31-95bd-907653e16ca2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="ad449e32-9f6d-4acc-8f52-81578bd69f49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="d0c1de4f-45e4-400a-ae5b-557f5c4fa916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="542d622b-326b-4418-a9f8-b2bc0b951f69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="7ddeeb06-2ef6-4283-b534-fdf587008d47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="9582a21a-2fec-4c55-8eed-fcb46a6bb971")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="ffc0b4b6-4025-4010-a3d4-9687a8018d1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="0da13d15-1f9e-41d9-a4b7-93985e5176c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="c67d06af-a078-4805-9b10-c32ad0ad9130")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="3c7f7b95-451d-4375-a963-552cd5891792")>]

In [108]:
for i in cname:
   
    CompanyName.append(i.text)
CompanyName=CompanyName[0:10]
CompanyName

['Delhivery',
 'Ericsson-Worldwide',
 'Accenture',
 'Tata Consultancy Services',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'ZS Associates']

In [109]:
mmsal=driver1.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
mmsal

[<selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="06009f85-a7dc-4169-b11e-d3fd2d80e76d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="2aba31bf-4e14-4ee4-a6b0-98abdc95504b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="8641c86e-bdc1-455d-8539-5031c7c63a04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="1e181592-0ed6-406a-acee-068f93053929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="fb88afd1-c3c5-4494-96d5-24d7081f5715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="b5c5db85-3dc7-4da8-8a0d-39d937db7e2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="e2ccb693-8047-45df-8912-ceed0c37cc01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="64f5369a-d25a-4e3e-a67c-545511a0dc0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="ff4e0b39-78e5-41d3-8c1c-cab919f7cd50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="401f77c3-32d0-4bb4-9e40-d13b1d0ad9a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="ca9fc455-1688-4633-9cac-bd685af73b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="cc030798-2c6d-4819-ac45-74ccb7f9844c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="8e3ba112-af6f-4903-ac06-1c813ac3e515")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="1a54a51d-3041-45b2-a68a-11b846cd30d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="66a76c3e-1cc8-415d-b089-201570ab842a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="483347e7-51d1-4dba-bc04-76a5150ac02d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="53d14e3b-065a-42cc-b30c-0792f5bb3ef4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="41f33df6-13b7-4d3b-a3b3-5a6c26405322")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="3f0066c0-1118-4704-9e10-0997c0270c3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c7f2f03d3e23ddcd06248ef6cc1ecab9", element="9f925594-5fba-43cf-a3f1-fdefe5e574bd")>]

In [110]:
for i in mmsal:
    m=i.text.replace('\n','-->')
    minimax.append(m)
minimax=minimax[0:10]
minimax

['₹456K-->₹11,789K',
 '₹420K-->₹1,636K',
 '₹585K-->₹2,200K',
 '₹336K-->₹1,024K',
 '₹595K-->₹2,769K',
 '₹727K-->₹1,597K',
 '₹509K-->₹1,168K',
 '₹629K-->₹1,719K',
 '₹804K-->₹1,281K',
 '₹205K-->₹1,835K']

In [111]:
Glassdoor_Job=pd.DataFrame([])
Glassdoor_Job['Company']=CompanyName[0:10]
Glassdoor_Job['Number Of Salary']=NumberOfSalary[0:10]
Glassdoor_Job['Avgrage Salary']=Avg_Salary[0:10]
Glassdoor_Job['Min/Maxi Salary']=minimax[0:10]

Glassdoor_Job

,Company,Number Of Salary,Avgrage Salary,Min/Maxi Salary
0,Delhivery,13 salaries,"₹ 12,81,419/yr","₹456K-->₹11,789K"
1,Ericsson-Worldwide,11 salaries,"₹ 7,52,052/yr","₹420K-->₹1,636K"
2,Accenture,10 salaries,"₹ 9,98,925/yr","₹585K-->₹2,200K"
3,Tata Consultancy Services,9 salaries,"₹ 6,02,000/yr","₹336K-->₹1,024K"
4,IBM,9 salaries,"₹ 7,71,657/yr","₹595K-->₹2,769K"
5,UnitedHealth Group,9 salaries,"₹ 13,55,346/yr","₹727K-->₹1,597K"
6,Valiance Solutions,8 salaries,"₹ 7,91,015/yr","₹509K-->₹1,168K"
7,Innovaccer,7 salaries,"₹ 12,15,138/yr","₹629K-->₹1,719K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,21,889/yr","₹804K-->₹1,281K"
9,ZS Associates,5 salaries,"₹ 10,00,000/yr","₹205K-->₹1,835K"

# Quetion- 6

In [112]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [113]:
url_5="https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=b37bee6b-a12b-474f-8201-050d9f97567d&as-searchtext=su"

In [114]:
driver1.get(url_5)

In [115]:
Brand=[]
Produc_Description=[]
Price=[]
Discount=[]

In [116]:
brnd=driver1.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(brnd)

40

In [117]:
for i in brnd:
   
    Brand.append(str(i.text).replace("\n",""))
Brand=Brand[:35]
Brand

['Voyage',
 'Voyage',
 'Phenomenal',
 'povty',
 'HIPPON',
 'funglasses',
 'Royal Son',
 'Riffko',
 'kingsunglasses',
 'PIRASO',
 'Phenomenal',
 'Fastrack',
 'Phenomenal',
 'Abner',
 'peter india',
 'Ayezent',
 'shah collections',
 'Fastrack',
 'The Blue Pink',
 'Royal Son',
 'JOHAENA',
 'Creative Group',
 'Singco India',
 'Aislin',
 'LEZTO',
 'kingsunglasses',
 'Yumato',
 'Online Mantra',
 'PIRASO',
 'Royal Son',
 'STYLISH GUYS',
 'Hotexo',
 'funglasses',
 'Farenheit',
 'Royal Son']

In [118]:
prc=driver1.find_elements_by_xpath("//div[@class='_30jeq3']")
len(prc)

40

In [119]:
for i in prc:
   
    Price.append(str(i.text).replace("\n",""))
Price=Price[:35]
Price

['₹649',
 '₹850',
 '₹399',
 '₹245',
 '₹189',
 '₹161',
 '₹379',
 '₹227',
 '₹284',
 '₹250',
 '₹249',
 '₹1,123',
 '₹399',
 '₹599',
 '₹175',
 '₹282',
 '₹214',
 '₹763',
 '₹107',
 '₹664',
 '₹178',
 '₹275',
 '₹189',
 '₹598',
 '₹169',
 '₹160',
 '₹499',
 '₹152',
 '₹250',
 '₹499',
 '₹789',
 '₹146',
 '₹210',
 '₹599',
 '₹399']

In [120]:
disc=driver1.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
len(disc)

40

In [121]:
for i in disc:
   
    Discount.append(i.text)
Discount=Discount[:35]
Discount

['78% off',
 '52% off',
 '80% off',
 '75% off',
 '84% off',
 '83% off',
 '74% off',
 '81% off',
 '81% off',
 '84% off',
 '75% off',
 '13% off',
 '80% off',
 '62% off',
 '86% off',
 '85% off',
 '85% off',
 '15% off',
 '53% off',
 '66% off',
 '87% off',
 '77% off',
 '72% off',
 '72% off',
 '82% off',
 '85% off',
 '62% off',
 '69% off',
 '84% off',
 '66% off',
 '77% off',
 '78% off',
 '85% off',
 '76% off',
 '73% off']

In [122]:
prd=driver1.find_elements_by_xpath("//a[@class='IRpwTa']")
len(prd)

28

In [123]:
for i in prd:
   
    Produc_Description.append(str(i.text).replace("\n",""))
Produc_Description=Produc_Description[:35]

In [124]:
Produc_Description

['UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'Mirrored, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (52)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'UV Protection, Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (61)',
 'Polarized Sports Sunglasses (21)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection Wayfarer Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)']

In [126]:
Glass=pd.DataFrame([])
Glass['Brand']=Brand[0:28]
Glass['Price']=Price[0:28]
Glass['Discount']=Discount[0:28]
Glass['Produc_Descriptiony']=Produc_Description[0:28]

Glass

,Brand,Price,Discount,Produc_Descriptiony
0,Voyage,₹649,78% off,UV Protection Aviator Sunglasses (58)
1,Voyage,₹850,52% off,UV Protection Aviator Sunglasses (62)
2,Phenomenal,₹399,80% off,UV Protection Retro Square Sunglasses (Free Size)
3,povty,₹245,75% off,UV Protection Wayfarer Sunglasses (Free Size)
4,HIPPON,₹189,84% off,Mirrored Aviator Sunglasses (55)
5,funglasses,₹161,83% off,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa..."
6,Royal Son,₹379,74% off,UV Protection Wayfarer Sunglasses (32)
7,Riffko,₹227,81% off,UV Protection Aviator Sunglasses (58)
8,kingsunglasses,₹284,81% off,"UV Protection, Mirrored Retro Square Sunglasse..."
9,PIRASO,₹250,84% off,"Mirrored, UV Protection Sports Sunglasses (Fre..."
10,Phenomenal,₹249,75% off,UV Protection Spectacle Sunglasses (Free Size)
11,Fastrack,"₹1,123",13% off,UV Protection Retro Square Sunglasses (52)
12,Phenomenal,₹399,80% off,Mirrored Round Sunglasses (53)
13,Abner,₹599,62% off,UV Protection Shield Sunglasses (Free Size)
14,peter india,₹175,86% off,"Riding Glasses, UV Protection Oval Sunglasses ..."
15,Ayezent,₹282,85% off,"Polarized, UV Protection Retro Square Sunglass..."
16,shah collections,₹214,85% off,"UV Protection, Polarized Aviator Sunglasses (F..."
17,Fastrack,₹763,15% off,"UV Protection, Gradient Aviator Sunglasses (61)"
18,The Blue Pink,₹107,53% off,Polarized Sports Sunglasses (21)
19,Royal Son,₹664,66% off,UV Protection Aviator Sunglasses (54)
20,JOHAENA,₹178,87% off,UV Protection Rectangular Sunglasses (Free Size)
21,Creative Group,₹275,77% off,"UV Protection, Mirrored, Gradient Retro Square..."
22,Singco India,₹189,72% off,UV Protection Wayfarer Sunglasses (53)
23,Aislin,₹598,72% off,Mirrored Aviator Sunglasses (Free Size)
24,LEZTO,₹169,82% off,UV Protection Wayfarer Sunglasses (56)
25,kingsunglasses,₹160,85% off,UV Protection Wayfarer Sunglasses (Free Size)
26,Yumato,₹499,62% off,"UV Protection, Mirrored Retro Square Sunglasse..."
27,Online Mantra,₹152,69% off,UV Protection Aviator Sunglasses (Free Size)

# Quetion - 7

In [127]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [128]:
url_6="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART"

In [129]:
driver1.get(url_6)

In [130]:
Rating=[]
Summary_Review=[]
Full_Review=[]

In [131]:
rt=driver1.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rt)

10

In [132]:
for i in rt:
   
    Rating.append(str(i.text).replace("\n",""))
Rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [133]:
sr=driver1.find_elements_by_xpath("//p[@class='_2-N8zT']")
len(sr)

10

In [134]:
for i in sr:
   
    Summary_Review.append(str(i.text).replace("\n",""))
Summary_Review

['Perfect product!',
 'Great product',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Brilliant',
 'Worth every penny',
 'Wonderful',
 'Nice product']

In [135]:
fr=driver1.find_elements_by_xpath("//div[@class='t-ZTKy']")
len(fr)

10

In [136]:
for i in fr:
   
    Full_Review.append(str(i.text).replace("\n",""))
Full_Review

['Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...READ MORE',
 'Value for money❤️❤️Its awesome mobile phone in the world ...Display was very good and bright ..Trust me freinds you r never regret after Buying..Just go for it....I love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...READ MORE',
 'The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4gCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to chargeCamera is superb. Front cam selfies and back cam photos are just awesome....READ MORE',
 '*Review after 10 months of usage*Doesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...READ MORE',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.Camera is superb and wide angle camera is very clear.12MP selfie camera is also very good.A13 Chip gives a very good and smooth performance.']

In [137]:
iphone=pd.DataFrame([])
iphone['Rating']=Rating
iphone['Summary_Reviewy']=Summary_Review
iphone['Full_Review']=Full_Review
iphone

,Rating,Summary_Reviewy,Full_Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
7,5,Worth every penny,It’s been almost a month since I have been usi...
8,5,Wonderful,*Review after 10 months of usage*Doesn't seem ...
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...

# Quetion - 8

In [138]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [139]:
url_7="https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=5575a0d1-e24c-41b2-8b32-11c74aae4a37&as-searchtext=sneaker"

In [140]:
driver1.get(url_7)

In [141]:
Brands=[]
Products_Description=[]
Prices=[]
Discounts=[]

In [142]:
br=driver1.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(br)

40

In [143]:
for i in br:
   
    Brands.append(str(i.text).replace("\n",""))
Brands

['BRUTON',
 'Airland',
 'Chevit',
 'Robbie jones',
 'World Wear Footwear',
 'Chevit',
 'BRUTON',
 'Stefano Rads',
 'Oricum',
 'Shoes Bank',
 'Restinfoot',
 'Armado',
 'Rockfield',
 'Crysta',
 'Hotstyle',
 'LeatherKraft',
 'Chevit',
 'Chevit',
 'Chevit',
 'Numenzo',
 'Red Rose',
 'Kavon',
 'Fzzirok',
 'Kraasa',
 'Sparx',
 'ASTEROID',
 'Magnolia',
 'T-Rock',
 'Swiggy',
 'Stinson',
 'World Wear Footwear',
 'Airland',
 'D-SNEAKERZ',
 'Crysta',
 'Chevit',
 'Chevit',
 'Axter',
 'Believe',
 'Layasa',
 'Kraasa']

In [144]:
prs=driver1.find_elements_by_xpath("//div[@class='_30jeq3']")
len(prs)

40

In [145]:
for i in prs:
   
    Prices.append(str(i.text).replace("\n",""))
Prices

['₹379',
 '₹298',
 '₹499',
 '₹379',
 '₹499',
 '₹236',
 '₹499',
 '₹274',
 '₹398',
 '₹349',
 '₹350',
 '₹498',
 '₹379',
 '₹270',
 '₹205',
 '₹284',
 '₹299',
 '₹236',
 '₹236',
 '₹449',
 '₹379',
 '₹349',
 '₹420',
 '₹499',
 '₹819',
 '₹395',
 '₹348',
 '₹399',
 '₹759',
 '₹299',
 '₹240',
 '₹258',
 '₹368',
 '₹699',
 '₹499',
 '₹389',
 '₹297',
 '₹379',
 '₹399',
 '₹499']

In [146]:
dsco=driver1.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
len(dsco)

40

In [147]:
for i in dsco:
   
    Discounts.append(str(i.text).replace("\n",""))
Discounts

['70% off',
 '40% off',
 '75% off',
 '62% off',
 '75% off',
 '52% off',
 '85% off',
 '60% off',
 '60% off',
 '65% off',
 '64% off',
 '50% off',
 '62% off',
 '45% off',
 '58% off',
 '71% off',
 '70% off',
 '52% off',
 '52% off',
 '65% off',
 '62% off',
 '65% off',
 '57% off',
 '50% off',
 '18% off',
 '60% off',
 '65% off',
 '60% off',
 '69% off',
 '40% off',
 '51% off',
 '48% off',
 '44% off',
 '53% off',
 '50% off',
 '22% off',
 '70% off',
 '62% off',
 '60% off',
 '50% off']

In [148]:
prdesc=driver1.find_elements_by_xpath("//a[@class='IRpwTa']")
len(prdesc)

33

In [149]:
for i in prdesc:
   
    Products_Description.append(str(i.text).replace("\n",""))
Products_Description

['Men Sports Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 '171 Smart Tan Lace-Ups Casuals for Men Sneakers For Men',
 'Combo Pack Of 4 Canvas Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Casual shoes,Sneakers for men's,shoes for men's Sneaker...",
 'shoes For Mens Combo(AR)-1660-1566 ( Multicolor-Pack of...',
 'Sneakers For Men',
 '1245SpiderBlack Sneakers For Men',
 'Sneakers For Men',
 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...',
 '170 Smart Grey Lace-Ups Casuals for Men Sneakers For Me...',
 '168 Smart Red Lace-Ups Casuals for Men Sneakers For Men',
 'White Sneaker for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Knitted Socks Casuals Sneakers For Men',
 'SM-322 Sneakers For Men',
 'White Sneakers Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Casual Loafers, Sneakers Shoes for Men Pack of 5 Combo(...',
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'shoe Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Lightweight Combo Pack of 02 Trendy Sneakers Casuals Fo...',
 'Super 445 Fashion Sneakers For Men',
 'Combo Pack of 2 Latest Collection Stylish Casual Loafer...',
 'Sneakers for men(black_10) Sneakers For Men',
 'Fashionable Canvas casual Sneakers For Men',
 'Young Choice Sneakers For Men']

In [150]:
FlipSneak=pd.DataFrame([])
FlipSneak['Brands']=Brands[:33]
FlipSneak['Prices']=Prices[:33]
FlipSneak['Discounts']=Discounts[:33]
FlipSneak['Products Description']=Products_Description[:33]

FlipSneak

,Brands,Prices,Discounts,Products Description
0,BRUTON,₹379,70% off,Men Sports Sneakers For Men
1,Airland,₹298,40% off,Combo Pack of 4 Casual Sneakers With Sneakers ...
2,Chevit,₹499,75% off,Combo Pack of 4 Latest Collection Stylish Casu...
3,Robbie jones,₹379,62% off,171 Smart Tan Lace-Ups Casuals for Men Sneaker...
4,World Wear Footwear,₹499,75% off,Combo Pack Of 4 Canvas Sneakers For Men
5,Chevit,₹236,52% off,Combo pack of 2 casual sneaker shoes for men S...
6,BRUTON,₹499,85% off,White Sneaker For Men's/Boy's Sneakers For Men
7,Stefano Rads,₹274,60% off,"Casual shoes,Sneakers for men's,shoes for men'..."
8,Oricum,₹398,60% off,shoes For Mens Combo(AR)-1660-1566 ( Multicolo...
9,Shoes Bank,₹349,65% off,Sneakers For Men
10,Restinfoot,₹350,64% off,1245SpiderBlack Sneakers For Men
11,Armado,₹498,50% off,Sneakers For Men
12,Rockfield,₹379,62% off,Smart Casuals Canvas Shoes Combo pack of 2 Sne...
13,Crysta,₹270,45% off,170 Smart Grey Lace-Ups Casuals for Men Sneake...
14,Hotstyle,₹205,58% off,168 Smart Red Lace-Ups Casuals for Men Sneaker...
15,LeatherKraft,₹284,71% off,White Sneaker for Men Sneakers For Men
16,Chevit,₹299,70% off,Sneakers For Men
17,Chevit,₹236,52% off,Sneakers For Men
18,Chevit,₹236,52% off,Knitted Socks Casuals Sneakers For Men
19,Numenzo,₹449,65% off,SM-322 Sneakers For Men
20,Red Rose,₹379,62% off,White Sneakers Sneakers For Men
21,Kavon,₹349,65% off,Synthetic Leather Casual Partywear Wedding Sne...
22,Fzzirok,₹420,57% off,"Casual Loafers, Sneakers Shoes for Men Pack of..."
23,Kraasa,₹499,50% off,Sneakers For Men
24,Sparx,₹819,18% off,5011-Latest Collection Stylish Casual Loafer S...
25,ASTEROID,₹395,60% off,shoe Sneakers For Men
26,Magnolia,₹348,65% off,"Casual , Partywear Sneakers Shoes For Men's An..."
27,T-Rock,₹399,60% off,Lightweight Combo Pack of 02 Trendy Sneakers C...
28,Swiggy,₹759,69% off,Super 445 Fashion Sneakers For Men
29,Stinson,₹299,40% off,Combo Pack of 2 Latest Collection Stylish Casu...
30,World Wear Footwear,₹240,51% off,Sneakers for men(black_10) Sneakers For Men
31,Airland,₹258,48% off,Fashionable Canvas casual Sneakers For Men
32,D-SNEAKERZ,₹368,44% off,Young Choice Sneakers For Men

# Quetions - 9

In [151]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [152]:
url_8="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5862.0_11575.0_5862.0%20TO%2011575.0"

In [153]:
driver1.get(url_8)

In [154]:
Brand_Company=[]
shorts_Description=[]
Product_Price=[]

In [155]:
bndc=driver1.find_elements_by_xpath("//h3[@class='product-brand']")
len(bndc)

50

In [156]:
for i in bndc:
   
    Brand_Company.append(str(i.text).replace("\n",""))
Brand_Company

['ADIDAS Originals',
 'Nike',
 'Geox',
 'Reebok',
 'Nike',
 'Cole Haan',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'ADIDAS',
 'Nike',
 'Nike',
 'Skechers',
 'Geox',
 'ADIDAS Originals',
 'ADIDAS',
 'Geox',
 'Kenneth Cole',
 'Geox',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'Kenneth Cole',
 'Geox',
 'Kenneth Cole',
 'Cole Haan',
 'Kenneth Cole',
 'Cole Haan',
 'Geox',
 'Geox',
 'Nike',
 'Kenneth Cole',
 'ALDO',
 'Geox',
 'Kenneth Cole',
 'Nike',
 'Kenneth Cole',
 'ALDO',
 'Nike',
 'Cole Haan',
 'Cole Haan',
 'Cole Haan',
 'Kenneth Cole',
 'UNDER ARMOUR',
 'Geox',
 'Kenneth Cole',
 'Cole Haan',
 'Cole Haan',
 'ALDO',
 'UNDER ARMOUR']

In [157]:
pprs=driver1.find_elements_by_xpath("//span[@class='product-discountedPrice']")
len(pprs)

40

In [158]:
for i in pprs:
   
    Product_Price.append(str(i.text).replace("\n",""))
Product_Price

['Rs. 10999',
 'Rs. 6599',
 'Rs. 8999',
 'Rs. 6999',
 'Rs. 11099',
 'Rs. 7499',
 'Rs. 7799',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9199',
 'Rs. 7699',
 'Rs. 11499',
 'Rs. 7199',
 'Rs. 8994',
 'Rs. 6293',
 'Rs. 8199',
 'Rs. 6293',
 'Rs. 6599',
 'Rs. 6293',
 'Rs. 11249',
 'Rs. 6293',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 5999',
 'Rs. 6293',
 'Rs. 7799',
 'Rs. 8999',
 'Rs. 6013',
 'Rs. 6399',
 'Rs. 6153',
 'Rs. 7699',
 'Rs. 5999',
 'Rs. 8999',
 'Rs. 8249',
 'Rs. 6293',
 'Rs. 9749',
 'Rs. 9513',
 'Rs. 9999',
 'Rs. 9749',
 'Rs. 8999']

In [159]:
sdesc=driver1.find_elements_by_xpath("//h4[@class='product-product']")
len(sdesc)

50

In [160]:
for i in sdesc:
   
    shorts_Description.append(str(i.text).replace("\n",""))
shorts_Description

['Men NMD R1 Sneakers',
 'Men Solid SKYVE MAX Sneakers',
 'Leather Mid-Top Chelsea Boots',
 'Forever Floatride Energy 2',
 'Men React Infinity Running',
 'Women Woven Design Slip-On Sneakers',
 'Men JORDAN DELTA Sneakers',
 'Men REACT PHANTOM Running',
 'PEGASUS FLYEASE Running Shoes',
 'Women REACT Running Shoes',
 'Men SOLAR DRIVE 19 M Running',
 'Women AIR ZOOM Running Shoes',
 'AIR ZOOM PEGASUS Running Shoes',
 'Men Running Shoes',
 'Men Leather Formal Oxfords',
 'Men Nite Jogger Shoes',
 'Men ALPHATORSION Running Shoes',
 'Men Leather Formal Derbyacs',
 'Men Solid Leather Formal Brogues',
 'Men Leather Driving Shoes',
 'Men HOVR Sonic 3 Running Shoes',
 'Men Superstar Sneakers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Sneakers',
 'Men Leather Formal Derbys',
 'Women Woven Design Sneakers',
 'Men Solid Leather Formal Derbys',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Mid-Top Brogues',
 'Men Leather Driving Shoes',
 'Women FREE RN 5.0 Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Loafers',
 'Men Solid Leather Sneakers',
 'Men Textured Sneakers',
 'Men DBREAK-TYPE Sneakers',
 'Men Solid Leather Formal Loafers',
 'Women Solid Sneakers',
 'Women AIR MAX VERONA Sneakers',
 'Women Leather Open Toe Flats',
 'Women Open Toe Flats',
 'Leather Sneakers',
 'Men Solid Leather Formal Derbys',
 'Men Charged Impulse Knit',
 'Women Leather Flat Boots',
 'Women Solid Flat Boots',
 'Men Traveller Leather Penny Loafers',
 'Men Wingtip Oxford Sneakers',
 'Women Heeled Boots',
 'Charged Bandit 5 Running Shoes']

In [161]:
shoes=pd.DataFrame([])
shoes['Brands']=Brand_Company[:40]
shoes['Product Price']=Product_Price[:40]
shoes['Products Description']=shorts_Description[:40]

shoes

              Brands Product Price                 Products Description
0   ADIDAS Originals     Rs. 10999                  Men NMD R1 Sneakers
1               Nike      Rs. 6599         Men Solid SKYVE MAX Sneakers
2               Geox      Rs. 8999        Leather Mid-Top Chelsea Boots
3             Reebok      Rs. 6999           Forever Floatride Energy 2
4               Nike     Rs. 11099           Men React Infinity Running
5          Cole Haan      Rs. 7499  Women Woven Design Slip-On Sneakers
6               Nike      Rs. 7799            Men JORDAN DELTA Sneakers
7               Nike      Rs. 7999            Men REACT PHANTOM Running
8               Nike      Rs. 7999        PEGASUS FLYEASE Running Shoes
9               Nike      Rs. 9199            Women REACT Running Shoes
10            ADIDAS      Rs. 7699         Men SOLAR DRIVE 19 M Running
11              Nike     Rs. 11499         Women AIR ZOOM Running Shoes
12              Nike      Rs. 7199       AIR ZOOM PEGASUS Running Shoes
13          Skechers      Rs. 8994                    Men Running Shoes
14              Geox      Rs. 6293           Men Leather Formal Oxfords
15  ADIDAS Originals      Rs. 8199                Men Nite Jogger Shoes
16            ADIDAS      Rs. 6293       Men ALPHATORSION Running Shoes
17              Geox      Rs. 6599          Men Leather Formal Derbyacs
18      Kenneth Cole      Rs. 6293     Men Solid Leather Formal Brogues
19              Geox     Rs. 11249            Men Leather Driving Shoes
20      UNDER ARMOUR      Rs. 6293       Men HOVR Sonic 3 Running Shoes
21  ADIDAS Originals      Rs. 8999               Men Superstar Sneakers
22      Kenneth Cole      Rs. 8999      Men Solid Leather Formal Derbys
23              Geox      Rs. 5999           Men Solid Leather Sneakers
24      Kenneth Cole      Rs. 6293            Men Leather Formal Derbys
25         Cole Haan      Rs. 7799          Women Woven Design Sneakers
26      Kenneth Cole      Rs. 8999      Men Solid Leather Formal Derbys
27         Cole Haan      Rs. 6013  Men GENERATION ZEROGRAND STITCHLITE
28              Geox      Rs. 6399          Men Leather Mid-Top Brogues
29              Geox      Rs. 6153            Men Leather Driving Shoes
30              Nike      Rs. 7699              Women FREE RN 5.0 Shoes
31      Kenneth Cole      Rs. 5999    Men Solid Leather Formal Slip-Ons
32              ALDO      Rs. 8999                  Men Leather Loafers
33              Geox      Rs. 8249           Men Solid Leather Sneakers
34      Kenneth Cole      Rs. 6293                Men Textured Sneakers
35              Nike      Rs. 9749             Men DBREAK-TYPE Sneakers
36      Kenneth Cole      Rs. 9513     Men Solid Leather Formal Loafers
37              ALDO      Rs. 9999                 Women Solid Sneakers
38              Nike      Rs. 9749        Women AIR MAX VERONA Sneakers
39         Cole Haan      Rs. 8999         Women Leather Open Toe Flats

# Quetion - 10

In [162]:
driver1 = webdriver.Chrome(r"E:\Aniket\chromedriver_win32\chromedriver.exe")

In [163]:
url_9="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611551164&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"

In [164]:
driver1.get(url_9)

In [165]:
Brand_Title=[]
Laptop_Rating=[]
Laptop_Price=[]

In [166]:
brndT=driver1.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
len(brndT)

24

In [167]:
for i in brndT:
   
    Brand_Title.append(str(i.text).replace("\n",""))
Brand_Title

['(Renewed) Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Yoga S740 Intel Core i7 10th Gen 14 inch UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows/Office/NVIDIA MX250 2GB/Iron Grey/1.4Kg), 81RS00B0IN',
 'MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Ti with Max-Q) GF63 Thin 9SCSR-1039IN Gaming Laptop (15.6 inch, Black, 1.86 kg)',
 '(Renewed) MSI Prestige PE62 Core i7 7th Gen 15.6" FHD Laptop Nvidia GeForce GTX 1050 Ti 4GB GDDR5 (8GB/1TB + 125 GB NVMe SSD/DOS OS/Silver/2.2Kg) 7RE-2024XIN',
 'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
 '(Renewed) Lenovo Yoga C940 Intel Core i7 10th Gen 14 inch UHD Thin and Light Laptop (16GB/1TB SSD/Windows 10/Office 2019/Mica/1.25Kg), 81Q9009XIN',
 'Microsoft Laptop 2 1769 13.5-inch Laptop (Intel Core i7/8GB/256GB SSD/Windows 10 Home/Integrated Graphics), Platinum',
 'Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Core i7-8750H/16GB/512 GB SSD/Windows 10 + MS Office/ Nvidia GTX 1050Ti 4GB Graphics/Silver)',
 'Dell Inspiron 5370 13.3-inch FHD Laptop (Core i7-8550U/8GB/256GB/Windows 10 + MS Office/2GB Graphics/Silver) + Dell Pro Slim Backpack 15 - PO1520PS',
 'Dell Inspiron 5370 13.3-inch FHD Laptop (Core i7-8550U/8GB/256GB/Windows 10 + MS Office/2GB Graphics/Silver) + Dell Compact Wireless Combo KM7120W',
 '(Renewed) HP Hybrid Probook Laptop 430G3 Intel Core i7 - 6500u Processor, 16 GB Ram & 128 GB SSD & 320GB HDD, Win10, 13.3 Inches 1.55 KG Ultralight Computer',
 'Lenovo Yoga 7i 11th Gen Intel Core i7 14-inch Full HD IPS 2-in-1 Convertible Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 '(Renewed) HP Hybrid Probook Laptop 430G3 Intel Core i7 - 6500u Processor, 16 GB Ram & 128 GB SSD & 500GB HDD, Win10, 13.3 Inches 1.55 KG Ultralight Computer',
 '(Renewed) Dell XPS 15 - 9570 Laptop/Intel 8th Gen Ci7-8750H/15.6inch FHD/256GB SSD/8GB/NVIDIA GeForce GTX 1050Ti 4GB GDDR5/Win 10 Pro//Silver Machined Aluminum - LCD Back Cover',
 '(Renewed) HP Hybrid Probook Laptop 430G3 Intel Core i7 - 6500u Processor, 8 GB Ram & 512 GB SSD & 500GB HDD, Win10, 13.3 Inches 1.55 KG Ultralight Computer',
 'Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 '(Renewed) Dell Inspiron 15 7000 7591 Laptop/Intel 9th Gen Ci7-9750H/15.6inch FHD/512GB SSD/16GB/NVIDIA GeForce GTX 1050 with 3GB GDDR5/Win 10 Home\\Integrated HD RGB Camera/',
 'ASUS ZenBook Pro Duo Intel Core i9-10980HK 10th Gen 15.6" 4K UHD OLED Touchscreen Laptop (32GB RAM/1TB NVMe SSD/Windows 10/6GB NVIDIA GeForce RTX 2060 Graphics/Celestial Blue/2.5 Kg), UX581LV-H2035T',
 '(Renewed) Dell Inspiron 7567 Laptop Intel Core i7-7700HQ|16GB DDR4|Windows 10 Home 1TB 128GB NVIDIA GeForce GTX 1050Ti 4GB GDDR5',
 'HP 14 10th Gen Intel Core i7 Ultra Thin and Light FHD Laptop (i7-1065G7/8GB/512GB SSD/Win 10/MS Office 2019/Natural Silver/1.46 Kg), 14s-DR1010TU',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'ASUS ROG Strix GT15 10th Gen Intel Core i7-10700 Gaming Desktop (16GB RAM/1TB HDD + 512GB SSD/Windows 10/8GB NVIDIA GeForce RTX 2060 Super Graphics/with Keyboard & Mouse/Star Black), G15CK-IN030T',
 'ASUS VivoBook Ultra 15 (2020) Intel Core i7-1165G7 11th Gen 15.6-inch FHD Thin and Light Laptop (8GB/512GB NVMe SSD/Integrated Graphics/Windows 10/MS Office 2019/Cobalt Blue/1.8 kg), X513EA-EJ731TS']

In [174]:
Lrt=driver1.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']")
len(Lrt)

0

In [182]:
for i in Lrt:
   
    Laptop_Rating.append(str(i.text).replace("\n",""))
Laptop_Rating=Laptop_Rating[0:10]
Laptop_Rating

[]

In [177]:
Lpr=driver1.find_elements_by_xpath("//span[@class='a-price-whole']")
len(Lpr)

24

In [178]:
for i in Lpr:
   
    Laptop_Price.append(str(i.text).replace("\n",""))
Laptop_Price

['63,742',
 '54,915',
 '96,501',
 '70,990',
 '55,990',
 '74,990',
 '97,742',
 '1,12,691',
 '1,27,990',
 '74,697',
 '76,817',
 '55,990',
 '1,00,999',
 '56,990',
 '1,02,490',
 '54,990',
 '74,990',
 '79,490',
 '2,68,329',
 '83,999',
 '72,806',
 '1,97,200',
 '1,35,943',
 '72,999',
 '63,742',
 '54,915',
 '96,501',
 '70,990',
 '55,990',
 '74,990',
 '97,742',
 '1,12,691',
 '1,27,990',
 '74,697',
 '76,817',
 '55,990',
 '1,00,999',
 '56,990',
 '1,02,490',
 '54,990',
 '74,990',
 '79,490',
 '2,68,329',
 '83,999',
 '72,806',
 '1,97,200',
 '1,35,943',
 '72,999']

In [183]:
laptop=pd.DataFrame([])
laptop['Brands']=Brand_Title[:10]
laptop['Product Price']=Laptop_Price[:10]
#laptop['Products Rating']=Laptop_Rating[:10]

laptop

                                              Brands Product Price
0  (Renewed) Lenovo IdeaPad Gaming 3i 10th Gen In...        63,742
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...        54,915
2  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...        96,501
3  MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB S...        70,990
4  (Renewed) MSI Prestige PE62 Core i7 7th Gen 15...        55,990
5  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...        74,990
6  (Renewed) Lenovo Yoga C940 Intel Core i7 10th ...        97,742
7  Microsoft Laptop 2 1769 13.5-inch Laptop (Inte...      1,12,691
8  Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Co...      1,27,990
9  Dell Inspiron 5370 13.3-inch FHD Laptop (Core ...        74,697